<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="pattern">%style{%date{DEFAULT}}{yellow}[%t] %highlight{%-5level}{FATAL=bg_red,ERROR=red,DEBUG=blue,WARN=yellow,INFO=green} %style{%c{1}} - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="off">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
        <Logger name="dev.omariteck" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
    </Loggers>
</Configuration>